<!-- Footer -->
    <footer class="py-4">
        <div class="container text-center">
            <div class="social-links mb-3">
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <p class="mb-0">&copy; 2024 <a href="{% url 'home' %}" class="footer-name link-style-none">Rex Jinabo NDI</a>. All rights reserved.</p>
        </div>
    </footer>